.buttonSet {
    border-radius: 25px;
    border: 1px solid midnightblue;
    background-color: gray;
    width: 85px;
    color: midnightblue;
    cursor: pointer;
}

.redFive {
    font-size: 65px;
    color: red;
}
