.conteiner {
    background-color: gray;
    margin: 0 auto;
    width: 767px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 50px 0;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;

}
