.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 300px;
  padding-top: 50px;
  width: 530px;
  height: 400px;
  border-radius: 15px;
  background-color: dodgerblue;
  border-style: groove;
  border-width: 5px;
}
