.item {
    border: 2px solid #a7c6f5;
    border-radius: 15px;
    padding: 20px;
    width: 270px;
    height: 140px;
}
.div {
    text-align: center;
    color: #a7c6f5;
}
.displey {
    border: 2px solid #a7c6f5;
    margin-bottom: 24px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.button {
    padding: 5px;
    border: 2px solid #a7c6f5;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.setCoumter {
    display: flex;
    justify-content: space-around;
}

.redStyle {
    border: 2px solid #a7c6f5;
    background: red;
    width: 80px;
    border-radius: 5px;
    margin: 3px;
    font-weight: bold;
    text-align: center;
    color: #a7c6f5;
    cursor: pointer;
}

.stylesInput {
    border: 2px solid #a7c6f5;
    background-color: gray;
    width: 80px;
    border-radius: 5px;
    margin: 3px;
    font-weight: bold;
    text-align: center;
    color: #a7c6f5;
    cursor: pointer;
}

/*setting button*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button_Value {
    border: 2px solid #a7c6f5;
    background-color: gray;
    color: #a7c6f5;
    cursor: pointer;
    border-radius: 4px;
}
.buttonSet {
    padding: 5px;
    border: 2px solid green;
    color: #a7c6f5;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}



.button_Value_disabled {
    border: 2px solid rgba(197, 18, 18, 0.73);
    background-color: gray;
    color: rgba(197, 18, 18, 0.73);
    cursor: pointer;
    border-radius: 4px;
}
.button_Value:hover {
    border: 2px solid #a7c6f5;
    background-color: gray;
    color: #a7c6f5;
    box-shadow:
            1px 1px #a7c6f5,
            2px 2px #a7c6f5,
            2px 2px #a7c6f5,
            2px 2px #a7c6f5,
            2px 2px #a7c6f5,
            2px 2px #a7c6f5,
            2px 2px #a7c6f5;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
/*setting button*/