.item {
    border: 2px solid indianred;
    border-radius: 15px;
    padding: 20px;
    width: 270px;
    height: 140px;

}

.displey {
    border: 2px solid wheat;
    margin-bottom: 24px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;

}

.button {
    padding: 5px;
    border: 2px solid wheat;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


