.item {
    border: 2px solid indianred;
    border-radius: 15px;
    padding: 20px;
    width: 270px;
    height: 140px;
}

.displey {
    border: 2px solid red;
    margin-bottom: 24px;
    height: 80px;
}

.button {
    border: 2px solid green;
}